.about-me {
    display: grid;
    background-color: var(--secundary-background);
    padding: 5em 1em;
}

.about-me-content {
    display: grid;
    row-gap: 5em;
}

.notebook-screen {
    margin: auto;
    padding-right: .8em;
}

.notebook {
    position: absolute;
}

.gif {
    height: 120px;
    width: 200px;
    margin: 10px 0px 10px 25px;
}

.description {
    text-align: center;
    color: var(--main-text);
}

.description-text {
    font-size: 18px;
    margin-bottom: 2em;
}

.description-text span {
    color: #2d6cc4;
}

.download-cv {
    font-size: 18px;
    color: var(--main-text);
    border-radius: 10px;
    border: 2px solid var(--button-border);
    padding: .5em 1.5em;
    text-decoration: none;
    transition: 500ms;
}


@media screen and (min-width:1024px) {
    .about-me {
        height: 100vh;
        padding: 6em;
    }

    .about-me-content {
        grid-template-columns: 40% 60%;
        padding: 0 5em;
    }
    
    .notebook-screen {
        margin: 1em;
    }
    
    .description {
        text-align: left;
    }

    .download-cv {
        font-size: 1.5em;
    }

    .download-cv:hover {
        background-color: #96969646;
        color: var(--white);
    }
}