.home {
    height: 100vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    align-items: center;
    padding-top: 6em;
}

.profile-pic {
    width: 60%;
    margin: 1em;
    animation: float 2s linear infinite alternate-reverse;
    animation-fill-mode: none;
}

.home-text {
    font-size: 2em;
    text-align: center;
    color: var(--main-text);
}

.name {
    font-size: 3em;
}

#last-text {
    color: var(--main-blue);
}

#last-text::after {
    content: '|';
    color: var(--main-text);
    animation: flash 800ms infinite;
}

.linkedin-button {
    padding: .4em 1.2em;
    margin-top: .5em;
    background-color: var(--main-blue);
    color: var(--main-text);
    font-size: 2em;
    border-radius: 10px;
    border: 1px solid var(--button-border);
    text-decoration: none;
    transition: 500ms;
}

@keyframes float {
    from {
        transform: translateY(-20px);
    }
    
    to {
        transform: translateY(10px);
    }
}

@keyframes flash {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@media screen and (min-width:1024px) {
    .home-content {
        display: block;
        padding: 12em;
    }
    
    .profile-pic {
        float: right;
        width: auto;
    }

    .home-text {
        text-align: left;
    }

    .name {
        font-size: 4em;
    }

    #last-text {
        margin-bottom: 1em;
    }

    .linkedin-button {
        border: 2px solid var(--button-border);
    }

    .linkedin-button:hover {
        background-color: var(--darker-blue);
        color: var(--darker-text);
    }
}