.home {
    height: 100vh;
    width: 100%;
    font-size: 32px;
    padding: 200px 0px;
}

.name {
    font-size: 64px;
}

#last-text::after {
    content: '|';
    color: #eeeeee;
    animation: flash 800ms infinite;
}

.home #last-text {
    color: #6948ff;
    margin-bottom: 48px;
}

.home a {
    border-radius: 10px;
    border: 2px solid #eeeeee45;
    background-color: #6948ff;
    color: #eeeeee;
    font-size: 24px;
    padding: 16px 38px;
    transition: 500ms;
}

.home a:hover {
    background-color: #4217ff;
    color: #cccccc;
}

.profile-pic {
    float: right;
    margin-right: 48px;
    animation: float 2s linear infinite alternate-reverse;
    animation-fill-mode: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
    
    100% {
        transform: translateY(20px);
    }
}

@keyframes flash {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

