nav {
    position: fixed;
    width: 100%;
    background-color: #57575770;
    backdrop-filter: blur(10px);
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .portfolio a{
    color: #eeeeee;
    font-weight: 700;
    font-size: 34px;
}

nav .portfolio span {
    color: #6948ff;
}

nav .menu li {
    display: inline-block;
}

nav .menu li a {
    color: #eeeeee;
    font-size: 20px;
    margin-left: 40px;
    transition: 300ms;
}

nav .menu li a:hover {
    color: #6948ff;
}

nav .menu li a:active {
    color: #462faf;
}


/* ----- Side Bar ------ */


.side-bar {
    position: fixed;
    right: 20px;
    padding: 48vh 0;
}

.side-bar .max-width {
    padding: 0;
}

.side-menu {
    list-style: none;
    font-size: 40px;
}

.side-menu li {
    padding-bottom: 20px;
}

.side-menu a {
    text-decoration: none;
    color: #eeeeee;
    transition: 500ms;
}

.back-home {
    background: #8a8a8a5d;
    border-radius: 5px;
}

.back-home:hover {
    background: #a8a8a85d;
    color: #cccccc;
}

#linkedin:hover {
    color: #0a66c2;
}

#github:hover {
    color: #3e4247;
}

#whatsapp:hover {
    color: #0dc143;
}

#instagram:hover {
    color: #9e03d4;
}
