.skills {
    background-color: var(--secundary-background);
    padding: 4em 1em;
}

.percentage {
    visibility: hidden;
    text-align: center;
}

.progress-bar {
    visibility: hidden;
    margin: 6px auto;
    width: 75%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--darker-text);
}

.interior {
    height: 100%;
    border-radius: 10px;
    background-color: #227900;
    border: 1px solid var(--darker-text);
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding-top: .8em;
    font-size: 2em;
    color: var(--main-text);
}

.skill {
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: 1s;
}

.skill:hover {
    opacity: 1;
}

.skill p {
    padding-left: .8em;
    cursor: pointer;
}

.skill img {
    width: 50px;
    transition: 1s;
    cursor: pointer;
}

.pong {
    display: none;
}

@media screen and (min-width:1024px) {

    .skills {
        height: 100vh;
        padding: 3em 5em;
    }

    .progress-bar {
        width: 30%;
    }

    .skills-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 75px;
        font-size: 35px;
        padding-top: 25px;
    }

    .pong {
        display: block;
        margin-top: 50px;
    }
    
    #open-pong {
        text-decoration: none;
        color: var(--main-text);
        transition: 500ms;
    }
    
    #open-pong:hover {
        color: var(--main-blue);
    }
    
    #close-button {
        display: none;
        float: right;
        margin: 20px 125px 0;
        cursor: pointer;
        color: var(--main-text);
        font-size: 2em;
        text-decoration: none;
    }
    
    #pong-game {
        display: none;
        margin: 50px auto;
    }
    
    iframe {
        width: 630px;
        height: 450px;
    }   
}
