@import url(header.css);
@import url(side-bar.css);
@import url(home.css);
@import url(about-me.css);
@import url(my-projects.css);
@import url(skills.css);
@import url(footer.css);

body {
    font-family: var(--main-font);
    font-size: 16px;
    background: var(--main-background);
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: var(--main-text);
    padding: 1em 0 0.5em;
}


/* ----- Variables for colors and main font*/


:root {
    --white: #FFFFFF;
    --main-text: #eeeeee;
    --darker-text: #cccccc;
    --main-blue: #6948ff;
    --darker-blue: #4217ff;
    --button-border: #eeeeee45;
    --main-background: rgb(31, 31, 31);
    --secundary-background: #303030;
    --header-background: #57575770;
    --menu-background: #15191C;
    --main-font: 'Ubuntu';
}


/* ----- Reset CSS for browers ----- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* ----- Scrollbar style and behavior ----- */


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #b7bbc4d7;
}

::-webkit-scrollbar-thumb {
    background:#6e6e6e;
    border: .15em solid #a5acbdd7;
    border-radius: 100vw;
    transition: 2s;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

::-webkit-scrollbar-thumb:active {
    background: #444444;
}

@media screen and (min-width:1024px) {
    .title {
        font-size: 40px;
        padding: 1em 0 0;
    }
}
